<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>


        <p>Toggle Test System</p>
          <form method="post">
                <input type="button" name = "on" value = "ON">
               <input type="button" value="off">


          </form>
        <a href="/test" class ="test button" >Edit Test Settings</a>

    <div class = "main">
        <h1 >Welcome to The Weather Prediction System</h1>
        <div id = "buttons">

        <a href="/predict" class ="test button" >View Predictions</a>
        <p></p>
        <a href="/logs" class ="test button" >View Error Logs</a>
        </div>

    </div>


</body>

</html>