<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="/static/css/Test.css">
  </head>
  <body>
  <h1>Enter Test data Below</h1>
  <div id = "entry">
      <form action="#" method = "post">
          <input type="datetime-local" name="time">
          
          <input type="text" value="Temperature" name="temp">

          <input type="text" value="Humidity" name="hum">

          <input type="text" value="Wind Speed" name="speed">

          <input type="text" value="Wind Bearing" name="bearing">

          <input type="text" value="Visibility" name="visibility">

          <input type="text" value="Pressure" name="pressure">
          

          <input type="button" name="new entry" value = "press for new row">
          <input type="submit" >
      </form>
      <a href="/" >Go Back home</a>
  </div>
  </body>
</html>